:root {
  --primary-color: #f3c309;
}

.fw {
  width: 100%;
}

.fh {
  height: 100%;
}
html {
  overflow-y: overlay;
  height: 100vh;
}
html::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
}
@media (max-width: 750px) {
  body {
    font-size: 80%;
    position: relative;
  }
}
