document {
  --primary-color: #f3c309;
}

.fw {
  width: 100%;
}

.fh {
  height: 100%;
}
html {
  overflow-y: overlay;
  height: 100vh;
}
html::-webkit-scrollbar {
  display: none;
}
input {
  outline: none;
  border: none;
  padding: 0 8px;
}
.v-pagination__item,
.v-pagination__first,
.v-pagination__prev,
.v-pagination__next,
.v-pagination__last {
  margin: 0 !important;
}

@media (max-width: 750px) {
  body {
    font-size: 80%;
    position: relative;
  }
}
